@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Read Secret</h1>
</div>
<div class="text-center">
    <div><strong>Secret 1 Value (Injected into Environment Configuration Values): </strong> @ViewData["Secret1"]</div>
    <div><strong>Secret 2 Value (Fetched From the Key Vault using the SDK):</strong> @ViewData["Secret2"]</div>

</div>
</br>
<div class="text-center">
    <h1>Add a new Secret</h2>
    <form method="post">
        <input type="text" name="secretname" placeholder="Secret Name" />
        <input type="password" name="secretvalue" placeholder="Secret Value" />
        <input type="submit"/>
    </form>
</div>